.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0;
    font-family: Segoe UI, Tahoma, sans-serif;
  }
  
  .container > * > * {
    margin: 10px;
  }
  