.listItem {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 20px;
}

.form {
  margin-left: 300px;
}

.form .input:focus {
  border-color: #ced4da;
  box-shadow: none;
}
