.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1024px;
  margin: auto;
  height: 64px;
  border-bottom: 0.5px dotted #aaa;
}

.logoImg {
  margin-right: 15px;
  display: inline-block;
  color: #333;
}

.title {
  font-weight: 500;
}

.left {
  display: flex;
  align-items: center;
}

.wrapper {
  margin: 80px auto 0 auto;
  width: 1024px;
}

.leadBlockWrapper {
  margin-top: 40px;
}

.leadBlockContent {
  display: flex;
  justify-content: space-between;
}

.footnote {
  color: gray;
}

.stepsBlockContent {
  display: flex;
  justify-content: space-between;
}

.description {
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 37px;
  max-width: 500px;
}

.exception {
  color: #027dff;
}

.login {
  margin-top: 15px;
}

.vacationPic {
  max-width: 350px;
}

.stepsContent {
  font-size: 20px;
  line-height: 35px;
  margin-top: 20px;
}
