.team {
  margin-left: 300px;
  max-width: 800px;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 10px;
  size: 1.7rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.join {
  max-height: 40px;
}

.heading {
  margin: 10px 0 15px 0;
}
