.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  
  height: 64px;
  padding: 0px 20px;

  box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #282c34;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;  
}

.logo:hover {
  color: white;
}

.logoImg {
  margin-right: 20px;
  display: inline-block;
}

.menu {
  margin-left: 60px;
}

.menuItem {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.left {
  display: flex;
  align-items: center;
}
