.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

.login {
  display: flex;
  justify-content: center;
}

.tabs {
  width: 450px;
}

.wrapper .input:focus {
  border-color: #ced4da;
  box-shadow: none;
}

form {
  max-width: 500px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons button {
  margin-right: 0.5rem;
}

.error {
  color: red;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
