.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

.logo {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.logoImg {
  width: 64px;
  height: 64px;
}

.logoText {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.5em;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  width: 450px;
}

.wrapper .input:focus {
  border-color: #ced4da;
  box-shadow: none;
}

form {
  max-width: 500px;
}

.label {
  width: 80px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons button {
  margin-right: 0.5rem;
}

.error {
  color: red;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
